[package]
edition      = "2024"
license-file = "../LICENSE"
name         = "bd-test-helpers"
publish      = false
version      = "1.0.0"

[lib]
doctest = false

[dependencies]
anyhow.workspace            = true
assert_matches.workspace    = true
async-trait.workspace       = true
axum.workspace              = true
bd-client-common.path       = "../bd-client-common"
bd-error-reporter.path      = "../bd-error-reporter"
bd-events.path              = "../bd-events"
bd-grpc.path                = "../bd-grpc"
bd-grpc-codec.path          = "../bd-grpc-codec"
bd-key-value.path           = "../bd-key-value"
bd-log.path                 = "../bd-log"
bd-log-matcher.path         = "../bd-log-matcher"
bd-log-metadata.path        = "../bd-log-metadata"
bd-log-primitives.path      = "../bd-log-primitives"
bd-metadata.path            = "../bd-metadata"
bd-panic.path               = "../bd-panic"
bd-proto.path               = "../bd-proto"
bd-resource-utilization     = { path = "../bd-resource-utilization" }
bd-runtime-config           = { path = "../bd-runtime-config", optional = true }
bd-session-replay           = { path = "../bd-session-replay" }
bd-stats-common.path        = "../bd-stats-common"
bd-time.path                = "../bd-time"
bd-workspace-hack.workspace = true
futures.workspace           = true
futures-core.workspace      = true
http-body-util.workspace    = true
hyper.workspace             = true
hyper-util.workspace        = true
log.workspace               = true
mockall                     = { workspace = true, optional = true }
ordered-float               = { version = "5.1.0" }
parking_lot.workspace       = true
prometheus.workspace        = true
protobuf.workspace          = true
rustls-pemfile.workspace    = true
serde.workspace             = true
tempfile.workspace          = true
time.workspace              = true
tokio.workspace             = true
tokio-rustls                = { workspace = true, default-features = false }
tokio-stream.workspace      = true
tower.workspace             = true
tracing.workspace           = true

[features]
aws-lc-rs            = ["tokio-rustls/aws-lc-rs", "tokio-rustls-default"]
default              = ["runtime", "aws-lc-rs"]
ring                 = ["tokio-rustls/ring", "tokio-rustls-default"]
runtime              = ["bd-runtime-config", "mockall"]
tokio-rustls-default = ["tokio-rustls/tls12"]
