[package]
edition      = "2024"
license-file = "../LICENSE"
name         = "bd-resilient-kv"
publish      = false
version      = "1.0.0"

[lib]
doctest = false

[dev-dependencies]
ctor.workspace     = true
tempfile.workspace = true
time.workspace     = true

[dependencies]
ahash.workspace             = true
anyhow.workspace            = true
async-compression.workspace = true
bd-bonjson                  = { path = "../bd-bonjson" }
bd-client-common            = { path = "../bd-client-common" }
bd-log                      = { path = "../bd-log" }
bd-proto                    = { path = "../bd-proto" }
bd-time                     = { path = "../bd-time" }
bd-workspace-hack.workspace = true
bytes.workspace             = true
flate2                      = { workspace = true, features = ["zlib"] }
log.workspace               = true
memmap2.workspace           = true
protobuf.workspace          = true
tokio.workspace             = true
