[package]
edition      = "2024"
license-file = "../LICENSE"
name         = "bd-resilient-kv"
publish      = false
version      = "1.0.0"

[lib]
doctest = false

[dev-dependencies]
tempfile.workspace = true

[dependencies]
ahash.workspace             = true
anyhow.workspace            = true
async-compression.workspace = true
bd-bonjson                  = { path = "../bd-bonjson" }
bd-client-common            = { path = "../bd-client-common" }
bd-workspace-hack.workspace = true
bytes.workspace             = true
flate2                      = { workspace = true, features = ["zlib"] }
memmap2.workspace           = true
tokio.workspace             = true
