[package]
edition      = "2024"
license-file = "../LICENSE"
name         = "fuzz"
publish      = false
version      = "0.0.0"

[lib]
doctest = false

[package.metadata]
cargo-fuzz = true

[dependencies]
ahash.workspace             = true
arbitrary.workspace         = true
async-trait.workspace       = true
bd-bonjson.path             = "../bd-bonjson"
bd-buffer.path              = "../bd-buffer"
bd-client-common.path       = "../bd-client-common"
bd-client-stats-store.path  = "../bd-client-stats-store"
bd-log-primitives.path      = "../bd-log-primitives"
bd-proto.path               = "../bd-proto"
bd-resilient-kv.path        = "../bd-resilient-kv"
bd-time.path                = "../bd-time"
bd-workspace-hack.workspace = true
libfuzzer-sys.workspace     = true
log.workspace               = true
tempfile.workspace          = true
time.workspace              = true
tokio.workspace             = true

[dev-dependencies]
bd-test-helpers.path = "../bd-test-helpers"
ctor.workspace       = true

[[bin]]
doc  = false
name = "mpsc_buffer_fuzz_test"
path = "fuzz_targets/mpsc_buffer_fuzz_test.rs"
test = false

[[bin]]
doc  = false
name = "spsc_buffer_fuzz_test"
path = "fuzz_targets/spsc_buffer_fuzz_test.rs"
test = false

[[bin]]
doc  = false
name = "buffer_corruption_fuzz_test"
path = "fuzz_targets/buffer_corruption_fuzz_test.rs"
test = false

[[bin]]
doc  = false
name = "bonjson"
path = "fuzz_targets/bonjson.rs"
test = false

[[bin]]
doc  = false
name = "resilient_kv_in_memory"
path = "fuzz_targets/resilient_kv_in_memory.rs"
test = false

[[bin]]
doc  = false
name = "resilient_kv_memmapped"
path = "fuzz_targets/resilient_kv_memmapped.rs"
test = false

[[bin]]
doc  = false
name = "resilient_kv_double_buffered"
path = "fuzz_targets/resilient_kv_double_buffered.rs"
test = false

[[bin]]
doc  = false
name = "resilient_kv_store"
path = "fuzz_targets/resilient_kv_store.rs"
test = false

[[bin]]
doc  = false
name = "versioned_kv_journal"
path = "fuzz_targets/versioned_kv_journal.rs"
test = false
